
{% load static %}
{% block paginator %}
<div id="pagination"></div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item" onclick="goto('{{type}}', 1)">
            <span class="page-link">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </span>
        </li>
        <li class="page-item" onclick="goto('{{type}}', '{{ page_obj.previous_page_number }}')">
            <span class="page-link">Previous</span>
        </li>
        {% endif %}

        {% for i in pagetotal %}
            {% if i == page_obj.number %}
            <li class="page-item active" onclick="goto('{{type}}', '{{ i }}')"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item" onclick="goto('{{type}}', '{{ i }}')"><span class="page-link">{{ i }}</span></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item" onclick="goto('{{type}}', '{{ page_obj.next_page_number }}')">
            <a class="page-link" href="#">Next</a>
        </li>
        <li class="page-item" onclick="goto('{{type}}', '{{ page_obj.paginator.num_pages }}')">
            <span class="page-link">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
